.table-container {
    margin: 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .export-button,
  .submit-button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
  }
  
  .export-button:hover,
  .submit-button:hover {
    background-color: #45a049; /* Darker green */
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #007BFF; /* Bootstrap primary color */
    color: white;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #cccccc; /* Gray */
    cursor: not-allowed;
  }
  